body {
  background-color: rgb(7, 7, 7);
  font-family: "Andale Mono", monospace, "Arial", Helvetica, sans-serif;
  color: rgb(222, 224, 226);
}

.table {
  color: rgb(222, 224, 226);
}

.alert {
  color: red;
}
